<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Linkly</title>
<!-- Logo Remaing -->
<link rel="stylesheet" href="../../css/home.css">
<script src="https://kit.fontawesome.com/9578b2e9b9.js" crossorigin="anonymous"></script>